/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    
    Author     : Ehab elmadhoun 120163399
*/

.button{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#000000,#000000);
}
.button:hover{
    -fx-background-color: linear-gradient(#000000,#000000);
}